<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<pre>
  International Institute of Information Technology
                     Gachibowli, Hyderabad 500 032
                     Andhra Pradesh, INDIA
                     Phone : +91-40-6653 1000
                     Fax : +91-40-6653 1413
</pre>
	