<% provide(:title, 'Help') %>
<h1>Help Desk</h1>
<p>iQuest is a Portal designed for all the Students and Faculty members of IIIT-Hyderabad so that they can share a better bond of sharing knowledge and their experience with others.</p>

<p>It's a known fact that the more we Share the more we Learn. So let's initiate this process of learning.</p>
